h1 {
    color: #1a0209;
    font-size: 24pt;
  }

#center_page {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

#center_element
{
    text-align: center;
}
/*
BROKEN CODE FOR CENTERING: 
<style>
    .content{
        max-width: 640;
        margin: auto;
    }
</style>
*/